.about-container {
    width: 100%;
    height: 550px;
    overflow: hidden;
}
.about-col-one {
    width: 20%;
    height: 500px;
    position: relative;
    padding-left: 10px;
    padding-top: 25px;
    background-color: #ff96a2; /*banner pink #ff96a2*
    border-top: dashed 5px #ff96a2; /*banner pink #ff96a2*/
    border-right: solid 5px #ff96a2; /*banner pink #ff96a2*/
}
.about-pic {
    margin-top: 125px;
    height: 300px;
    border: double 5px #265d0c; /*green in logo #265d0c*/
}
.about-col-two {
    width: 20%;
    height: 375px;
    position: relative;
    margin-top: 125px;
    padding-left: 5px;
    padding-top: 25px;
    /*border-top: outset 5px #ff96a2; /*banner pink #ff96a2*/
    border-left: solid 5px #265d0c; /*green in logo #265d0c*/
}
.about-col-three {
    width: 20%;
    height: 375px;
    position: relative;
    margin-top: 125px;
    padding-left: 5px;
    padding-top: 25px;
    border: solid 5px #265d0c; /*green in logo #265d0c*/
    /*border-top: outset 5px #ff96a2; /*banner pink #ff96a2*/
    /*border-left: outset 5px #ff96a2; /*banner pink #ff96a2*/
}