.about-container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding-top: 125px;
    height: 630px;
    overflow: hidden;
}
.about-col {
    display: inline-block;
    position: absolute;
    height: 630px;
    width: 31%;
}
.about-text {
    color: #265d0c; /*green in logo #265d0c*/
    text-align: justify;
    width: 400px;
}
.about-img {
    width: 100%;
}
.figure {
    position: relative;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    color: #265d0c; /*green in logo #265d0c*/
    border: solid 1px #ff96a2; /*banner pink #ff96a2*/
}
.figure-text {
    font-family: 'La Belle Aurore', cursive;
    color: #265d0c; /*green in logo #265d0c*/
}
.audio {
    position: absolute;
    padding-top: 5px;
    left: 32%;
    padding-left: 15px;
}
.video {
    position: absolute;
    left: 65%;
    width: 100%;
    padding-left: 10px;
    border: solid 1px #ff96a2; /*banner pink #ff96a2*/
}