body {
    margin: 0 auto;
    font-family: 'Actor', sans-serif;
    font-size: 20px;
}
.nav-bar {
    background-color: #ff96a2;/*banner pink*/
    height: 125px;
    width: 100%;
    float: left;
    list-style-type: none;
    position: fixed;
    z-index: 2;
}
.logo {
    height: 113px;
    width: 199px;
    margin-bottom: 10px;
    margin-left: 25px;
}
.nav-list {
    float: right;
    margin: 55px;
}
.list-item {
    display: inline;
}
.list-item a {
    text-decoration: none;
    color: #265d0c; /*green in logo #265d0c*/
    font-weight: 600;
    font-style: italic;
    margin-left: 30px;
}
.list-item a:hover {
    color: #f8c2eb; /*light pink*/
}
.banner {
    background-image: url("../img/lotus.jpg");
    background-size: cover;
    background-position: center;
    height: 615px;
    width: 100%;
    overflow: hidden;
    font-family: 'La Belle Aurore', cursive;
}
.banner-text-background {
    height: 100px;
    width: 350px;
    top: 150px;
    left: 10%;
    position: relative;
    /*border-radius: 25px;*/
}
.banner-text {
    color: #265d0c; /*green in logo #265d0c*/
    text-align: left;
    text-shadow: 2px 2px 5px #ff96a2; /*blurred banner pink shadow*/
}
.container {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: scroll;
}
.column-one {
    width: 58%;
    height: 350px;
    position: absolute;
    padding-left: 35px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #265d0c;/*text green in logo #265d0c*/
    text-align: justify;
    border-top: outset 5px #ff96a2; /*banner pink #ff96a2*/
    border-left: outset 5px #ff96a2; /*banner pink #ff96a2*/
}
.column-two {
    width: 40%;
    height: 350px;
    position: absolute;
    left: 60%;
    border-top: outset 5px #ff96a2; /*banner pink #ff96a2*/
}
.photo-homepage-right {
    float: right;
    height: 325px;
    border-right: solid 5px #ff96a2; /*banner pink #ff96a2*/
    border-left: solid 5px #ff96a2; /*banner pink #ff96a2*/
}
.footer {
    width: 100%;
    height: 100px;
    background-color: #ff96a2; /*banner pink #ff96a2*/
    color: white;
    overflow: hidden;
 }
.footer-col {
    width: 32%;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    font-family: 'La Belle Aurore', cursive;
 }
.input {
    margin-left: 15px;
 }
 .button:hover {
     border: solid 3px #265d0c;
 }
.fa-facebook-square {
    margin-left: 10px;
}
.fa-2x {
  color: white;
}
